[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Yan Yurkin (johnlife)
[access "refs/for/refs/*"]
	read = group user/Yan Yurkin (johnlife)
	push = group user/Yan Yurkin (johnlife)
	label-Code-Review = -2..+2 group user/Yan Yurkin (johnlife)
	label-Verified = -1..+1 group user/Yan Yurkin (johnlife)
	rebase = group user/Yan Yurkin (johnlife)
	removeReviewer = group user/Yan Yurkin (johnlife)
	submit = group user/Yan Yurkin (johnlife)
[access "refs/heads/*"]
	read = group user/Yan Yurkin (johnlife)
	create = group user/Yan Yurkin (johnlife)
	push = +force group user/Yan Yurkin (johnlife)
	pushMerge = group user/Yan Yurkin (johnlife)
[access "refs/tags/*"]
	push = +force group user/Yan Yurkin (johnlife)
	pushTag = group user/Yan Yurkin (johnlife)
	pushSignedTag = group user/Yan Yurkin (johnlife)
[submit]
	action = cherry pick
[project]
	state = hidden
